<div class="container">
  <div class="row">
    <div class="col-md-4 mt-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="text-center">Number Game</h5>
          <small>[ Tip: Enter any number, and then click increment to increase the amount by 5, or decrement to decrease the value by one. ]</small>
          <div class="mb-3 mt-3">
            <label for="exampleFormControlInput1" class="form-label">Enter values</label>
            <input type="number" class="form-control" (input)="getValue($event)">
          
            <div class="btn-group mt-4" role="group">
              <button type="button" class="btn btn-success" (click)="incr()">Increment</button>
              <button type="button" class="btn btn-danger" (click)="decr()">Decrement</button>
            </div>

            <div class="alert alert-secondary mt-2" *ngIf="value">
              {{ value }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
